<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>Forum BBQ</title>
    <link rel="stylesheet" href="assets/style.css">

</head>

<body>

    <header>

        
        <div class="Coal">
            <div class="menu">
                <ul id="navigation">
                    <li><a href="index.html" title="Aller à l'accueil">Accueil</a></li>
                    <li><a href="#" title="aller à la section 2">Posts</a></li>
                    <li><a href="#" title="aller à la section 3">Evenements</a></li>
                    <li><a href="#" title="aller à la section 4">Profil</a></li>
                </ul>
            </div>
        </div>
        <div class="Blackh">
        </div>
        
    </header>



    <footer>
        <div class="Sausages">
            <div class="textf">
                <h1>YNOV B1 INFORMATIQUE 2021</h1>
                <h2>Garcia Fabio, Fonseca Dorian, D'autheville Adam, Adonaï Killian</h2>
            </div>
            <div class="links">
                <h3>
                    <a href="https://www.instagram.com/killianoni/" style="color: whitesmoke;" target="_blank">Instagram</a> |
                    <a href="https://www.facebook.com/Killian.adn" style="color: whitesmoke;" target="_blank">Facebook</a> |
                    <a href="https://twitter.com/killianoni" style="color: whitesmoke;" target="_blank">Twitter</a> |
                    <a href="contact.html" style="color: whitesmoke;" target="_blank">Contact</a>
                </h3>
            </div>
        </div>
        <div class="Blackf">
        </div>



    </footer>

</body>

</html>
<!--{{end}}-->