<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <title>Forum BBQ</title>
        <link rel="stylesheet" href="./assets/base.css">
        <link rel="stylesheet" href="./assets/postCreate.css">

    </head>
<body>

    <div class="container-grille">

        <header>       
        <p class= "head-title"> BBQ entre amis </p>
        </header>  

        <div>
            <form class="create" action="postCreate" method="post">
                Titre: <br>
                <input class="title" type="text" name="Titre">
                <br>

                Contenu:<br>
                <input class="content" type="text" name="Contenu">
                <br>


                thème(s):   

                <div>
                    <input type="checkbox" id="1" name="tag1">
                    <label for="1">Sauces</label>
                </div>
                <div>
                    <input type="checkbox" id="2" name="tag2">
                    <label for="2">Viandes</label>
                </div>
                <div>
                    <input type="checkbox" id="5" name="tag5">
                    <label for="5">Accompagnement</label>
                </div>
                <div>
                    <input type="checkbox" id="3" name="tag3">
                    <label for="3">Vegan</label>
                </div>
                <div>
                    <input type="checkbox" id="4" name="tag4">
                    <label for="4">Equipements</label>
                </div>

                <input class="button" type="submit" value="Publier" 
                
                style="border:none;
                background:none;
                font-family:Arial;
                font-size:18px;
                font-weight:bold;
                margin-left: 42%;
                margin-top: 1em; ">
    
                <br>
                    
                </div>
        
            </form>
        </div>


        <footer>
            <div class="Sausages">
                <div class="textf">
                    <h1>YNOV B1 INFORMATIQUE 2021</h1>
                    <h2>Garcia Fabio, Fonseca Dorian, D'autheville Adam, Adonaï Killian</h2>
                </div>
                <div class="links">
                    <h3>
                        <a href="https://www.instagram.com/killianoni/" style="color: whitesmoke;" target="_blank">Instagram</a> |
                        <a href="https://www.facebook.com/Killian.adn" style="color: whitesmoke;" target="_blank">Facebook</a> |
                        <a href="https://twitter.com/killianoni" style="color: whitesmoke;" target="_blank">Twitter</a> |
                        <a href="" style="color: whitesmoke;" target="_blank">Contact</a>
                    </h3>
                </div>
            </div>
            </div>
        </footer>
</div>

</body>

</html>
